body{
    display: grid;
    grid-template-columns: auto 800px auto ;
    grid-template-rows: auto auto;
    gap:20px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    background-color: #000;
}

p {
    margin: 0px;
}

#mainTitle{
    color: #fff;
    grid-column-start: 2;
    grid-row: 1;
    text-align: center;
}

#gameWindow{
    position: relative;
    width: 800px;
    height: 592px;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color:blue ;
    transition: all 1s ease-in-out;
    
}

.background{
    position: absolute;
    z-index: 0;
}

.character{
    position: absolute;
    z-index: 100;
    
}

.foreground{
    position: absolute;
    z-index: 1000;
}

.tilemap{

}

#mainCharacter{
    top: 200px;
    left: 200px;
    transition: all 1s ease-in-out;
}



#house1{
    top: 84px;
    left: 81px;
    width: 16px;
    height: 16px;
    
}

#house2{
    top: 71px;
    left: 243px;
    width: 16px;
    height: 16px;
   
}

#tree1{
   
    top: 338px;
    left: 71px;
    width: 32px;
    height: 32px;
    transition: all 1s ease-in-out;
}

#boat{
   
    top: 346px;
    left: 760px;
    width: 32px;
    height: 32px;
}


.speech-bubble{
	background: #ffffff;
	border-radius: 60px;
    padding:5px 5px 5px 30px;
    color: black;
    font-size: 10PX;
    opacity: 0;
    width: 250px;
    transition: all 1s ease-in-out;
}

#hero{
    left: 3px;
    top: 11px;
}

#tree{
    right: -800px;
    top: -8px;
}

#platformContainer {
    top: 192px;
    left: 416px;
}

#platform {
    transition: all 1s ease-in-out;
}

#dialogBar{
    height: 64px; 
    bottom: 0px;
}

#setMainDialog{
    position: relative;
    height: 64px;
    bottom: 800px;
}

#mainCharacterSpeech{
    position: absolute;
    left: 80px;
    top: 0px;
}

#counterCharacter{
    top: -8px;
    right: -800px;
    opacity: 0;
}


#counterSpeech{
    position: absolute;
    right: -709px;
    top: -15px;
}



#brownBar{
    position: absolute;
    background-color: #442c1c;
    height: 32px;
    width: 800px;
    bottom: 0px;
   
}

#inventoryBox {
    left: 10px;
    top: 10px;
    width: 180px;
    height: 80px;
    border: #fff 2px solid;
    background-color: #442c1c;
    padding: 10px;
    color: #fff;
}

#inventoryList {
    list-style-type: square;
    padding: 0px;
    margin: 0px 0px 0px 12px;
    font-size: 12px;

}
